nav {
    height: 80px;

}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.link-img {
    width: 12%;
}

.send-bar-top {
    margin: 40px;
}

.send-bar-mid {
    max-width: 680px;
    margin: 0 auto;

    padding: 25px 30px 30px;
    border: 1px solid rgb(0, 0, 0);

    background-color: #72acdc;
    border-radius: 10px;

    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.send-bar-bot {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0);

    background-color: #97c1e4;
    border-radius: 10px;

    box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.1);
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

.shortenerUrl {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 10px 10px 15px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 5px;
}