<div class="send-bar-bot">
    <div class="error-msg">
        <h3>{{errorMsg}}</h3>
        <h3>{{errorURL}}</h3>
    </div>

    <a class="btn btn-primary" href="/"><i class="fa-solid fa-rotate-right"></i></a>
</div>